@import url('font.css');

main>section {
    background-repeat: no-repeat;
    height:100vh;
    background-size: 100vw;
    background-attachment: fixed;
    scroll-snap-align: start;
    background-position-x: 0;
    background-position-y: 0;
  }
  section:nth-of-type(1) {background-image: url('../medias/images/Avatar_01.jpg');}
  section:nth-of-type(2) {background-image: url('../medias/images/Avatar_09.jpg');}
  section:nth-of-type(3) {background-image: url('../medias/images/Avatar_05.jpg');}
  section:nth-of-type(4) {background-image: url('../medias/images/Avatar_03.jpg');}
  section:nth-of-type(5) {background-image: url('../medias/images/Avatar_02.jpg');}
  section:nth-of-type(6) {background-image: url('../medias/images/Avatar_04.jpg');}
html {
    scroll-snap-type: y mandatory;
    margin: 0;
    transition: 5s;
    overflow-y: scroll;    
  }

  .infobulle {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 2px;
  }
  
body {
    margin: 0;
}

/****** ASIDE FIXED ******/

aside {
    position: fixed;
   z-index: 7;
    padding: 2vh;
    display: flex;
flex-direction: column;
    justify-content: space-between;
}
aside:nth-of-type(1) {
    right: 0;
}
aside:nth-of-type(2) {
    left: 0;
}

aside:nth-of-type(1)>nav>a>img {
    width: 3vw;
    height: 3vw;
    color: aliceblue;
}
aside:nth-of-type(1)>nav:nth-of-type(1) {
    margin-bottom: 60vh;
}
aside>nav {
    display: flex;
    flex-direction: column;
}
aside:nth-of-type(2)>nav>a>img {
    width: 25vw;
    transition: .5s;
}
aside:nth-of-type(1)>nav>a>img {
    transition: .5s;
    filter: invert(100%);
}
aside>nav>a>img:hover {
   
    transform: translateY(1vh);
}
aside:nth-of-type(2)>nav>a {
    margin-bottom: 4vh;
}
aside:nth-of-type(2)>nav>img {
    width: 5vw;
}

/****** SECTION 1 ******/
#video {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px black;
  }

section:nth-of-type(1)>article>h2 {
    color: aliceblue;
    font-family: ok;
    text-align: center;
    font-size: 3vw;
    text-shadow: 0 0 20px black;
}

.scroll {
    position: fixed !important;
    width: 30vw !important;
    height: calc(30vw * 3 / 4) !important;
    top: 1vh !important;
    left: 40vw !important;
    z-index: 7; 
  }
  
section:nth-of-type(1)>article>div {
    position: relative;
    width: 35vw;
    height: calc(35vw * 390 / 640);
    margin: auto;
    transition: .5s;
}
section:nth-of-type(1)>article {
margin: 10vw;

}
section:nth-of-type(1) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

/****** SECTION 2 ******/

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto; 
}
section:nth-of-type(2)>div>img {
width: 30vw;
box-shadow: 0 0 10px black;
top: 30vh;
object-fit: cover;
align-self: flex-end;
justify-self: center;
}
section:nth-of-type(2)>div {
    position: relative;
    top: 1vh;
    width: 30vw;
    align-self: end;
    justify-self: center;
}
section:nth-of-type(2)>h2 {
    color: aliceblue;
    font-family: ok;
    font-size: 5vw;
    margin: 0;
    align-self: flex-end;
    justify-self: center;
    transition: .5s;
    text-shadow: 0 0 20px black;
}

section:nth-of-type(2)>article>p {
    font-family: sans-serif;
text-align: justify;
font-weight: lighter;
    columns: 3;
    background-color: rgba(42, 43, 83, 0.527);
    column-rule-color: aliceblue;
    column-rule-style: solid;
    padding: 3vh;
    color: aliceblue;
    max-width: 86vw;
    align-self: center;
    justify-self: center;
    column-gap: 4vw;
}
section:nth-of-type(2)>article {
    grid-column: 1/-1;
    max-width: 90vw;
    margin-bottom: 10vh;
    align-self: center;
    background-color: rgba(58, 97, 141, 0.822);
    transition: .5s;

}
/****** SECTION 3 ******/

section:nth-of-type(3) {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

section:nth-of-type(3)>h2 {
    color: aliceblue;
    font-family: ok;
    align-self: end;
    justify-self: center;
    font-size: 5vw;
    grid-column: 2;
    transition: .5s;
    margin: 0;
    text-shadow: 0 0 20px black;
}
section:nth-of-type(3)>article {
    grid-column: 2/-1;
    background-color: rgba(58, 97, 141, 0.822); 
    margin-bottom: 10vh;
    transition: .5s;
    display: grid;
}

section:nth-of-type(3)>div, section:nth-of-type(3)>article>p {
    color: aliceblue;
    font-family: ok;
    
    
}
section:nth-of-type(3)>article>p {
    font-size: 2vw;
    margin: 3vh;
    padding: 3vh;
    grid-row: 1;
    grid-column: 1;
    transition: .5s;
    background-color: rgba(42, 43, 83, 0.527);
}

section:nth-of-type(3)>img {
   width: 5vw;
   grid-row: 1/-1;
   align-self: center;
   padding: 2vh;
   transition: .5s;
   justify-self: center;
   filter: invert(100%);
    border-radius: 10px;
}
section:nth-of-type(3)>img:nth-of-type(2) {
    grid-column: 4;
    
 }
section:nth-of-type(3)>div{
    grid-column: 3;
    height: 40vh;
    width: 40vw;
    justify-self: right;
    align-self: end;
    display: grid;
    top: 20vh;
}
section:nth-of-type(3)>div>img {
    height:30vw;
    grid-column: 1;
    z-index: 5;
    grid-row: 1;
    top: 20vh;
    object-fit: cover;
    width: 30vw;
    color: rgba(58, 97, 141, 0.822);
    border: solid 5px transparent;
    transition: .5s;
    

}

section:nth-of-type(3)>img:nth-of-type(1):hover {
    transform: translateX(-1vh);
}
section:nth-of-type(3)>img:nth-of-type(2):hover {
    transform: translateX(1vh);
}

section:nth-of-type(3)>div>img:hover {
    transform: scale(1.05);
}
/*****Section 4*******/
section:nth-of-type(4) {
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-of-type(4)>h2 {
    color: aliceblue;
    font-family: ok;
    font-size: 5vw;
    margin: 0;
    align-self: center;
    justify-self: center;
    text-shadow: 0 0 20px black;
    transition: .5s;
}
/****Secyion 5*****/
#map { height: 50vh; 
width: 50vw;}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: rgba(28, 29, 114, 0.527) !important;
    box-shadow: 0 0 20px white !important;
    color: white !important;
    border: rgba(58, 97, 141, 0.822) solid 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}


section:nth-of-type(5) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto; 
}
section:nth-of-type(5)>div {
    position: relative;
    top: 15vh;
    align-self: end;
    justify-self: center;
    border: rgba(42, 43, 83, 0.527) solid 5px;
    border-radius: 2px;
    z-index: 7;
}
section:nth-of-type(5)>h2 {
    color: aliceblue;
    font-family: ok;
    font-size: 5vw;
    margin: 0;
    align-self: flex-end;
    justify-self: center;
    text-shadow: 0 0 20px black;
    transition: .5s;
}
section:nth-of-type(5)>article>button:hover {
    box-shadow: 0 0 10px white;
}
section:nth-of-type(5)>article>button {
    background-color: rgba(42, 43, 83, 0.527);
    box-shadow: 0 0 10px transparent;
    font-family: ok;
    border: rgba(5, 6, 32, 0.527) solid 3px;
    transition: .5s;
    color: white;
    padding: 3vh;
    justify-self: center;
    margin-left: 30px;
    margin-top: 30px;
}
section:nth-of-type(5)>article>p {
    font-family: sans-serif;
    columns: 2;
    column-rule-color: aliceblue;
    column-rule-style: solid;
    column-width: 3px;
    background-color: rgba(42, 43, 83, 0.527);
    box-shadow: 0 0 10px transparent;
    transition: .5s;
    color: white;
    padding: 3vh;
    justify-self: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 35vw;
}
section:nth-of-type(5)>article {
    grid-column: 1/-1;
    max-width: 100vw;
    margin-bottom: 10vh;
    align-self: center;
    background-color: rgba(58, 97, 141, 0.822); 
    transition: .5s;

}
section:nth-of-type(6) {
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-of-type(6)>h2 {
    color: aliceblue;
    font-family: ok;
    font-size: 5vw;
    margin: 0;
    align-self: center;
    justify-self: center;
    text-shadow: 0 0 20px black;
    transition: .5s;
}